<form action="/user/session" method="post">

    <div class="row">
        <label for="login-email" class="inline">
        Email
        </label>
        <input id="login-email" type="email" name="email" placeholder='email'>
    </div>
    <div class="row">
        <label for="login-password" class="inline">
        Password
        </label>
        <input id="login-password" type="password" name="password" placeholder='******'>
    </div>
    <div class="row">
        <button type="submit">Login</button>
    </div>

</form>